{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<body>
{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Gerando Relatório</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
          <li class="breadcrumb-item">Relatórios</li>
          <li class="breadcrumb-item active">Relatório de Produção</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Insira o intervalo de tempo:</h5>

              <!-- Vertical Form -->
              <form class="row g-3" method="post" action="{% url 'report-production' %}" target="_blank">{% csrf_token %}
                <div class="row mb-3">
                    <label for="inputDateInicio" class="col-sm-2 col-form-label">Data início</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="inputDateInicio" name="data_inicio" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDateTermino" class="col-sm-2 col-form-label">Data término</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="inputDateTermino" name="data_termino" required>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Gerar</button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}
</body>

</html>