<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">Usina</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'homepage' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#report-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-sidebar-reverse"></i><span>Relatórios</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="report-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'report-production' %}">
                        <i class="bi bi-circle"></i><span>Relatório de Produção</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'report-integridy' %}">
                        <i class="bi bi-circle"></i><span>Relatório de Integridade</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'report-failure' %}">
                        <i class="bi bi-circle"></i><span>Relatório de Falhas</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Reports Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'projection' %}">
                <i class="bi bi-grid"></i>
                <span>Projeção Produtiva</span>
            </a>
        </li><!-- End Projection Nav -->

        <li class="nav-heading">Usuário</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'read_user' %}">
                <i class="bi bi-person"></i>
                <span>Perfil</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'pages-contact' %}">
                <i class="bi bi-envelope"></i>
                <span>Contato</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sair</span>
            </a>
        </li><!-- End Log out Nav -->
    </ul>

</aside><!-- End Sidebar-->