{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<body>
{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Perfil</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="homepage.html">Home</a></li>
          <li class="breadcrumb-item active">Perfil</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Geral</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Informações do  Perfil</h5>
                 
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Empresa</div>
                    <div class="col-lg-9 col-md-8" name="name">{{ name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">CNPJ</div>
                    <div class="col-lg-9 col-md-8" name="username">{{ username }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8" name="email">{{ email }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Telefone</div>
                    <div class="col-lg-9 col-md-8" name="phone">{{ phone }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Localização</div>
                    <div class="col-lg-9 col-md-8" name="location">{{ location }}</div>
                  </div>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="{% url 'update_user' %}" method="POST">{% csrf_token %}
                    <div class="row mb-3">
                      <label for="empresa" class="col-md-4 col-lg-3 col-form-label">Empresa</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="name" type="text" class="form-control" id="empresa">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="CNPJ" class="col-md-4 col-lg-3 col-form-label">CNPJ</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="username" type="text" class="form-control" id="CNPJ" value ="{{ username }}"></input>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="text" class="form-control" id="email" value="{{ email }}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="email" class="col-md-4 col-lg-3 col-form-label">Telefone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="telefone" value="{{ phone }}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="localização" class="col-md-4 col-lg-3 col-form-label">Localização</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="location" type="text" class="form-control" id="localização" value="{{ location }}">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Salvar alterações</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}
</body>

</html>